.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-icon { 
  background-color: rgba(96, 9, 104, 0.836);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
